@import url('https://fonts.googleapis.com/css?family=Roboto');
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    overflow-y: scroll;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

body {
    list-style-type: none;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    background-color: #f8f9fa;
    font: 400 16px/24px Roboto,sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    font-weight: normal;
    text-align: left;
}

a:hover, a:active {
    outline: 0;
}

a img {
    border: 0;
}

em {
    font-style: italic;
}

sub, sup {
    font-size: 60%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

strong {
    font-weight: bold;
}

i {
    font-style: italic;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

article p {
    padding-bottom: 20px;
}

h1 {
    font-size: 32px;
}

.padding10 {
    padding: 10px;
}

.padding20 {
    padding: 20px;
}

.ml0 {
    margin-left: 0px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml80 {
    margin-left: 80px;
}

.ml90 {
    margin-left: 90px;
}

.ml100 {
    margin-left: 100px;
}

.mr0 {
    margin-right: 0px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.mr60 {
    margin-right: 60px;
}

.mr70 {
    margin-right: 70px;
}

.mr80 {
    margin-right: 80px;
}

.mr90 {
    margin-right: 90px;
}

.mr100 {
    margin-right: 100px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb100 {
    margin-bottom: 100px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt60 {
    margin-top: 60px;
}

.mt70 {
    margin-top: 70px;
}

.mt80 {
    margin-top: 80px;
}

.mt90 {
    margin-top: 90px;
}

.mt100 {
    margin-top: 100px;
}

.pl0 {
    padding-left: 0px;
}

.pl10 {
    padding-left: 10px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl50 {
    padding-left: 50px;
}

.pl60 {
    padding-left: 60px;
}

.pl70 {
    padding-left: 70px;
}

.pl80 {
    padding-left: 80px;
}

.pl90 {
    padding-left: 90px;
}

.pl100 {
    padding-left: 100px;
}

.pr0 {
    padding-right: 0px;
}

.pr10 {
    padding-right: 10px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr40 {
    padding-right: 40px;
}

.pr50 {
    padding-right: 50px;
}

.pr60 {
    padding-right: 60px;
}

.pr70 {
    padding-right: 70px;
}

.pr80 {
    padding-right: 80px;
}

.pr90 {
    padding-right: 90px;
}

.pr100 {
    padding-right: 100px;
}

.pb0 {
    padding-bottom: 0px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb60 {
    padding-bottom: 60px;
}

.pb70 {
    padding-bottom: 70px;
}

.pb80 {
    padding-bottom: 80px;
}

.pb90 {
    padding-bottom: 90px;
}

.pb100 {
    padding-bottom: 100px;
}

.pt10 {
    padding-top: 10px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}

.pt50 {
    padding-top: 50px;
}

.pt60 {
    padding-top: 60px;
}

.pt70 {
    padding-top: 70px;
}

.pt80 {
    padding-top: 80px;
}

.pt90 {
    padding-top: 90px;
}

.pt100 {
    padding-top: 100px;
}

.p20 {
    padding: 20px;
}

.p70 {
    padding: 70px;
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.glHidden {
    display: none;
}

.glVisible {
    display: block;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w32 {
    width: 32%;
}

.w33 {
    width: 33.33%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w66 {
    width: 66.66%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

.w33 {
    width: 33%;
}

.w30 {
    width: 30%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.tac {
    text-align: center;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*  START HERE * /
/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+abap+actionscript+ada+apacheconf+apl+applescript+c+arff+asciidoc+asm6502+csharp+autohotkey+autoit+bash+basic+batch+bison+brainfuck+bro+cpp+aspnet+arduino+coffeescript+clojure+ruby+csp+css-extras+d+dart+diff+django+docker+eiffel+elixir+elm+markup-templating+erlang+fsharp+flow+fortran+gedcom+gherkin+git+glsl+gml+go+graphql+groovy+less+handlebars+haskell+haxe+http+hpkp+hsts+ichigojam+icon+inform7+ini+io+j+java+jolie+json+julia+keyman+kotlin+latex+markdown+liquid+lisp+livescript+lolcode+lua+makefile+crystal+erb+matlab+mel+mizar+monkey+n4js+nasm+nginx+nim+nix+nsis+objectivec+ocaml+opencl+oz+parigp+parser+pascal+perl+php+php-extras+sql+powershell+processing+prolog+properties+protobuf+scss+puppet+pure+python+q+qore+r+jsx+typescript+renpy+reason+rest+rip+roboconf+textile+rust+sas+sass+stylus+scala+scheme+smalltalk+smarty+plsql+soy+pug+swift+yaml+tcl+haml+tt2+twig+tsx+vbnet+velocity+verilog+vhdl+vim+visual-basic+wasm+wiki+xeora+xojo+xquery+tap&plugins=line-numbers+file-highlight+toolbar+copy-to-clipboard */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[class*="language-"].line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

div.code-toolbar {
    position: relative;
    font-size: 15px;
}

div.code-toolbar > .toolbar {
    position: absolute;
    top: .3em;
    right: .2em;
    transition: opacity 0.3s ease-in-out;
    font-size: 20px;
}
div.code-toolbar:hover > .toolbar {
    opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
    display: inline-block;
}

div.code-toolbar > .toolbar a {
    cursor: pointer;
}

div.code-toolbar > .toolbar button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
    color: black;
    font-size: .8em;
    padding: 0 .5em;
    background: #f5f2f0;
    border-radius: .5em;
    font-weight: 700;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
    color: inherit;
    text-decoration: none;
}

.post_header {
    padding: 20px 0 20px 0;
    font-size: 15px;
}

.post_body {
    width: 100%;
    border: solid 1px #f3f4f5;
}
.post_head, .post_item{
    align-items: center;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.posts_item{
    padding: 24px 0;
}
.post_topic{
    width: 50%;
    min-width: 50%;
}
.post_category, .post_users {
    width: 13%;
    min-width: 13%;
}
.post_replies, .post_views, .post_activity{
    width: 8%;
    min-width: 8%;
}
.post_topic, .post_category, .post_users, .post_replies, .post_views, .post_activity{
    display: inline-block;
    float: left;
}
.post_body > .post_header > .post_topic {
    padding: 0 0 0 30px;
}
.post_body > .post_header:nth-child(even) {
    background-color: #FFFFFF;
}
.topics__heading {
    line-height: 28px;
    margin-bottom: 38px;
    text-rendering: optimizeLegibility;
}
.topics__heading-title {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 30.4px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-rendering: optimizelegibility;
}
.topic_style, .comment, .comment-respond {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(243, 244, 245);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(243, 244, 245);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(243, 244, 245);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(243, 244, 245);
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    text-rendering: optimizelegibility;
}
.comment {
    word-break: break-all;
    margin: 20px 0 20px 0;
}
header {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    text-rendering: optimizelegibility
}
.header{
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(233, 236, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    text-rendering: optimizelegibility
}
.container{
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    justify-content: space-between;
    line-height: 28px;
    margin-left: 350.5px;
    margin-right: 350.5px;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-rendering: optimizelegibility;
    width: 1202px;
}
.header_logo {
    align-items: center;
    border-right-color: rgb(233, 236, 238);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
    padding-right: 56px;
    padding-top: 30px;
    position: relative;
    text-rendering: optimizelegibility;
    width: 170px;
}
.header__search{
    align-items: center;
    border-right-color: rgb(233, 236, 238);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;
    text-rendering: optimizelegibility;
    width: 594.6px;
}
.header__menu{
    align-items: center;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    min-width: 182px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 30px;
    position: relative;
    text-rendering: optimizelegibility;
    width: 182px;
}
.comment-body {
}
.topics {
    margin-top: 100px;
}